---
import { Image } from "astro:assets";

import Container from "@components/Container.astro";
import DownloadOn from "@components/DownloadOn.astro";
import Title from "@components/Title.astro";

import NeedingImg from "@assets/images/partnership/needing.png";
import NeedingAvatarImg from "@assets/images/partnership/needingAvatar.png";
import BBMerchantLogoIcon from "@assets/svgs/bbMerchantLogo.svg?raw";
---

<Container className="mt-32">
  <div class="flex flex-col justify-between items-center xl:flex-row xl:gap-20">
    <div class="relative flex flex-col max-w-lg px-5 md:px-0 2xl:max-w-xl">
      <div class="flex items-center gap-4 self-center mb-8 xl:self-auto">
        <Fragment set:html={BBMerchantLogoIcon} />

        <div class="text-title">
          <p class="text-opacity-neutral">BeautyBooking</p>
          <p class="text-opacity-neutral -mt-1.5">Merchant</p>
        </div>
      </div>

      <Title centered className="xl:text-left">
        Không bao giờ bỏ lỡ<br /> với BB Merchant Mobile
      </Title>

      <div
        class="text-title text-opacity-semi text-center mt-4 xl:text-left md:mt-8"
      >
        <p>
          Luôn nắm rõ tình hình kinh doanh cũng như lượng khách mỗi ngày. Chủ
          doanh nghiệp không còn phải lo lắng hay phải liên tục có mặt ở cửa
          hàng.
        </p>
        <br />

        <p>BB Merchant Mobile đã thay bạn làm điều đó.</p>
      </div>

      <div class="mt-8">
        <p
          class="text-caption text-opacity-neutral font-semibold text-center xl:text-left"
        >
          TẢI NGAY
        </p>

        <DownloadOn className="mt-3 md:justify-center xl:justify-start" />
      </div>
    </div>

    <div
      class="relative mt-16 ml-0 overflow-x-hidden md:mt-12 md:ml-10 xl:mt-0 xl:ml-0"
    >
      <Image
        src={NeedingImg}
        alt="Needing"
        class="max-w-[calc(100%+1.25rem)] md:max-w-lg"
      />

      <div
        class="absolute cursor-pointer bottom-6 left-6 p-4 rounded-xl bg-white bg-opacity-80 w-[calc(100%-3rem)] max-w-[23.375rem] flex flex-col gap-2 hover:bg-opacity backdrop-blur-sm"
      >
        <p class="text-base">
          Beautybooking đáp ứng mọi nhu cầu quản lý khắt khe của chúng tôi. Từ
          khâu vận hành đến việc cập nhật thông tin nhiều cửa hàng cùng một lúc
          trên môi trường online.
        </p>

        <div class="flex items-center gap-x-2">
          <div class="w-10">
            <Image src={NeedingAvatarImg} alt="needing-avatar" />
          </div>

          <div class="text-tiny gap-x-0.5">
            <p class="text-opacity-semi font-bold">Ms. Julie Phương Thuỳ</p>
            <p class="text-opacity-neutral">Founder & Manager of JJ Beauty</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Container>
