---
import { Image } from "astro:assets";

import Container from "@components/Container.astro";
import Title from "@components/Title.astro";

import PlusIcon from "@assets/svgs/partnership/plus.svg";

const questions = [
  {
    question: "BeautyBooking Merchant là gì?",
    answer:
      "Được phát triển vởi công ty giải pháp phần mềm A.N.S. BeautyBooking Merchant là một nền tảng quản lý và tiếp thị dành riêng cho các cơ sở làm đẹp. Nó giúp bạn quản lý lịch hẹn, tùy chỉnh dịch vụ, quảng bá cửa hàng của bạn nhằm thu hút khách hàng mới một cách dễ dàng và hiệu quả.",
  },
  {
    question:
      "Làm thế nào BeautyBooking Merchant có thể giúp tôi quản lý lịch hẹn hiệu quả?",
    answer:
      "Khách hàng được cung cấp một hệ thống quản lý thân thiện để lên lịch, thay đổi lịch, và theo dõi lịch hẹn một cách dễ dàng, giúp giảm thiểu xung đột giữa khách vãng lai, khách đặt online và khách của BeautyBooking.",
  },
  {
    question:
      "Tôi có thể tùy chỉnh các dịch vụ và giá cả của mình trên nền tảng không?",
    answer:
      "Tất nhiên, bạn hoàn toàn có quyền tùy chỉnh các dịch vụ, giá cả và sự sẵn sàng để phù hợp với các dịch vụ độc đáo của tiệm làm đẹp của bạn.",
  },
  {
    question:
      "BeautyBooking Merchant có giúp quản lý khách hàng và chương trình khách hàng thân thiết không?",
    answer:
      "Có, nền tảng cung cấp các công cụ quản lý khách hàng mạnh mẽ để theo dõi sở thích của khách hàng, lịch sử và thậm chí tạo chương trình khuyến mãi hấp dẫn để thu hút khách hàng mới và giữ chân khách hàng thân thiết.",
  },
  {
    question:
      "Làm thế nào tôi có thể quảng bá cửa hàng của mình và thu hút khách hàng mới với BeautyBooking Merchant?",
    answer:
      "BeautyBooking Merchant cung cấp các tính năng tiếp thị để tạo các khuyến mãi, giảm giá, và cho phép bạn tiếp cận khách hàng mới thông qua ứng dụng đặt BeautyBooking.",
  },
  {
    question:
      "Làm thế nào BeautyBooking Merchant bảo vệ thông tin khách hàng của tôi?",
    answer:
      "BeautyBooking Merchant tuân thủ nghiêm ngặt các quy tắc bảo mật dữ liệu và cung cấp các tính năng an ninh để đảm bảo thông tin cá nhân của khách hàng được bảo vệ. Xem thêm Điều khoản sử dụng & Chính sách bảo mật",
  },
];
---

<Container
  className="flex flex-col justify-between items-center mt-32 px-5 md:mt-44 xl:mt-52"
>
  <div class="max-w-[75rem]">
    <Title centered>Câu hỏi thường gặp</Title>

    <div class="flex justify-center mt-4 mb-11">
      <p class="text-center max-w-[52rem] text-title">
        Vẫn còn nhiều thắc mắc?<br />
        <span class="bb-chat-visible underline text-primary-700 cursor-pointer"
          >Liên hệ</span
        >
         BeautyBooking để được trực tiếp giải đáp.
      </p>
    </div>

    {
      questions.map(({ question, answer }) => (
        <div class="collapsible">
          <div class="flex items-center justify-between h-fit">
            <h4 class="question">{question}</h4>
            <button class="w-10 h-10 ml-4 rounded-full bg-grey-300 p-1.5">
              <Image src={PlusIcon} alt="expand" class="m-auto" />
            </button>
          </div>

          <p class="answer">{answer}</p>
        </div>
      ))
    }
  </div>
</Container>

<style>
  .collapsible {
    @apply p-6 rounded-xl shadow-md text-opacity-semi max-w-[52.875rem] mb-3 cursor-pointer last:mb-0;
  }

  .collapsible .question {
    @apply text-sub-header font-bold max-w-[calc(100%-3.75rem)];
  }

  .collapsible .answer {
    @apply h-0 overflow-hidden transition-all duration-300 ease-in-out;
  }
</style>

<script>
  import PlusIcon from "@assets/svgs/partnership/plus.svg";
  import MinusIcon from "@assets/svgs/partnership/minus.svg";

  const collapses = document.querySelectorAll<HTMLDivElement>(".collapsible");

  for (let index = 0; index < collapses.length; index++) {
    const collapse = collapses[index];
    const answer = collapse.querySelector<HTMLDivElement>(".answer");
    const collapseImg = collapse.querySelector("img");

    const onVisibleChange = () => {
      if (answer.clientHeight) {
        answer.classList.remove("mt-6");
        answer.style.height = "0";

        collapseImg.setAttribute("src", PlusIcon.src);
      } else {
        answer.classList.add("mt-6");
        answer.style.height = `${answer.scrollHeight}px`;

        collapseImg.setAttribute("src", MinusIcon.src);
      }
    };

    collapse.addEventListener("click", onVisibleChange);
  }
</script>
