---
import { Image } from "astro:assets";

import ExploreImg from "@assets/images/explore.png";
import CheckedIcon from "@assets/svgs/checked.svg?raw";

const checkList = [
  {
    title: "Đa dạng các loại dịch vụ",
    description: "Tất cả các dịch vụ làm đẹp mà bạn đang tìm kiếm",
  },
  {
    title: "Khung thời gian trống phù hợp",
    description: "Khung thời gian phù hợp với sự bận rộn của bạn",
  },
  {
    title: "Giá cả rõ ràng",
    description: "Giá dịch vụ/sản phẩm đc thể hiện trực tiếp & minh bạch",
  },
  {
    title: "Tham khảo trải nghiệm",
    description: "Đánh giá rõ ràng đến từ những trải nghiệm thực tế",
  },
];
---

<div
  class="flex flex-col md:flex-row justify-between items-center px-5 mt-24 md:mx-20 md:mt-[15.25rem]"
>
  <div class="relative flex flex-col max-w-[32.4375rem]">
    <h1
      class="text-h2 text-opacity-pure text-center font-semibold md:text-left md:text-h2"
    >
      Khám phá, đặt hẹn & tận hưởng
    </h1>

    <div class="text-title text-opacity-semi text-center md:text-left md:mt-8">
      <p class="mb-8">
        Dễ dàng tìm kiếm và đặt hẹn bất mọi lúc mọi nơi, tiết kiệm thời gian và
        công sức.
      </p>

      <p>
        BeautyBooking cung cấp chi tiết về các dịch vụ, đánh giá của người dùng
        và nhiều ưu đãi hấp dẫn khác, giúp bạn tận hưởng những trải nghiệm làm
        đẹp tuyệt vời.
      </p>
    </div>

    <div class="flex flex-col gap-6 mt-16">
      {
        checkList.map(({ title, description }) => (
          <div class="flex">
            <span class="flex justify-center items-center rounded-full bg-primary-200 w-7 h-7 mt-2">
              <Fragment set:html={CheckedIcon} />
            </span>
            <div class="ml-4">
              <h4 class="text-title text-opacity-pure mb-1">{title}</h4>
              <p class="text-paragraph text-opacity-neutral">{description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <Image src={ExploreImg} alt="Explore" />
</div>
