---
import { Image } from "astro:assets";

import Container from "@components/Container.astro";
import DownloadOn from "@components/DownloadOn.astro";
import Title from "@components/Title.astro";

import ExploreImg from "@assets/images/explore.png";
import CheckedIcon from "@assets/svgs/checked.svg?raw";

const checklist = [
  {
    title: "Đa dạng các loại dịch vụ",
    description: "Tất cả các dịch vụ làm đẹp mà bạn đang tìm kiếm",
  },
  {
    title: "Khung thời gian trống phù hợp",
    description: "Khung thời gian phù hợp với sự bận rộn của bạn",
  },
  {
    title: "Giá cả rõ ràng",
    description: "Giá dịch vụ/sản phẩm đc thể hiện trực tiếp & minh bạch",
  },
  {
    title: "Tham khảo trải nghiệm",
    description: "Đánh giá rõ ràng đến từ những trải nghiệm thực tế",
  },
];
---

<Container className="mt-20 xl:mt-32">
  <div class="flex flex-col justify-between items-center xl:flex-row xl:gap-16">
    <div
      class="relative w-full flex flex-col px-5 xl:px-0 xl:min-w-[22.5rem] xl:max-w-[39.125rem]"
    >
      <Title centered className="xl:text-left">Thư giãn & Tiết kiệm</Title>

      <div class="text-title text-opacity-semi text-center mt-4 xl:text-left">
        Luôn yên tâm về giá cả cũng như chất lượng của các dịch vụ.
        BeautyBooking luôn có những ưu đãi hấp dẫn, cùng những tham khảo đánh
        giá chất lượng uy tín. Bạn sẽ có những trải nghiệm làm đẹp tuyệt vời.
      </div>

      <div
        class="grid grid-cols-2 gap-x-3 gap-y-6 mt-8 xl:flex xl:flex-col xl:gap-y-5"
      >
        {
          checklist.map(({ title, description }) => (
            <div class="flex flex-col md:flex-row">
              <div class="flex justify-center items-center border-2 border-primary-600 rounded-full w-6 h-6 ml-2 mb-2 md:min-w-[1.5rem] md:mt-1">
                <Fragment set:html={CheckedIcon} />
              </div>
              <div class="ml-2 xl:ml-4">
                <h4 class="text-title mb-1">{title}</h4>
                <p class="text-paragraph text-opacity-neutral">{description}</p>
              </div>
            </div>
          ))
        }
      </div>

      <div class="mt-8">
        <p
          class="text-center text-caption text-opacity-neutral font-semibold xl:text-left"
        >
          TẢI NGAY
        </p>

        <DownloadOn className="mt-3 md:justify-center xl:justify-start" />
      </div>
    </div>

    <div class="mt-16 md:mt-12 xl:mt-0">
      <Image src={ExploreImg} alt="explore" />
    </div>
  </div>
</Container>
