---
import { Image } from "astro:assets";

import ExploreChecklist from "@components/ExploreChecklist.astro";

import ExploreImg from "@assets/images/explore.png";
---

<div
  class="flex flex-col justify-between items-center px-5 mt-24 md:mx-20 md:mt-[15.25rem] md:flex-row"
>
  <div class="relative flex flex-col max-w-[32.4375rem]">
    <h1
      class="text-h3 text-opacity-pure text-center font-semibold md:text-left md:text-h2"
    >
      Khám phá, đặt hẹn & tận hưởng
    </h1>

    <div
      class="text-title text-opacity-semi text-center mt-4 md:text-left md:mt-8"
    >
      <p class="mb-8">
        Dễ dàng tìm kiếm và đặt hẹn bất mọi lúc mọi nơi, tiết kiệm thời gian và
        công sức.
      </p>

      <p>
        BeautyBooking cung cấp chi tiết về các dịch vụ, đánh giá của người dùng
        và nhiều ưu đãi hấp dẫn khác, giúp bạn tận hưởng những trải nghiệm làm
        đẹp tuyệt vời.
      </p>
    </div>

    <ExploreChecklist />
  </div>

  <Image src={ExploreImg} alt="Explore" class="mt-12 md:mt-0" />

  <ExploreChecklist isMobile />
</div>
