---
import Slideshow from "@components/Slideshow.astro";
---

<div class="text-center mt-28 md:mt-60">
  <div class="px-5 md:px-20">
    <h2 class="text-opacity-pure text-h3 font-semibold md:text-h2">
      Trải nghiệm & cảm nhận
    </h2>
    <p class="mt-4 mb-[2.62rem] text-title text-opacity-semi">
      Những nhận xét tuyệt vời từ các khách hàng hài lòng của BeautyBooking
    </p>
  </div>

  <Slideshow />
</div>
