---
import Slideshow from "@components/Slideshow.astro";
---

<div class="text-center">
  <h2 class="text-opacity-pure text-h2 font-semibold mt-60">
    Trải nghiệm & cảm nhận
  </h2>
  <p class="mt-4 text-title text-opacity-semi">
    Những nhận xét tuyệt vời từ các khách hàng hài lòng của BeautyBooking
  </p>

  <Slideshow />
</div>
