<div class='mx-20 text-center mt-[9.56rem]'>
  <h1 class='text-h2 text-opacity-pure font-semibold'>
    Tất cả các dịch vụ làm đẹp<br />
     chỉ trong 1 ứng dụng
  </h1>

  <p class='text-title text-opacity-semi mt-4 mb-8'>
    Bạn có thể tìm thấy tất cả các dịch vụ tại BeautyBooking,<br />
     chỉ cần đó là dịch vụ làm đẹp và chăm sóc sức khỏe
  </p>

  <div class='grid grid-cols-3 divide-y rounded-3xl p-8'>
    <div class='p-8'></div>
    <div class='p-8'></div>
    <div class='p-8'></div>
    <div class='p-8'></div>
    <div class='p-8'></div>
    <div class='p-8'></div>
  </div>
</div>
