---
import Container from "@components/Container.astro";
import Title from "@components/Title.astro";

import BeautyClinicServiceIcon from "@assets/svgs/home/beautyClinicService.svg?raw";
import DentalClinicServiceIcon from "@assets/svgs/home/dentalClinicService.svg?raw";
import HairSalonServiceIcon from "@assets/svgs/home/hairSalonService.svg?raw";
import MassageServiceIcon from "@assets/svgs/home/massageService.svg?raw";
import NailSalonServiceIcon from "@assets/svgs/home/nailSalonService.svg?raw";
import SpaServiceIcon from "@assets/svgs/home/spaService.svg?raw";

const services = [
  {
    icon: SpaServiceIcon,
    title: "Spa",
    description: "Thư giãn tinh thần",
  },
  {
    icon: MassageServiceIcon,
    title: "Massage",
    description: "Chăm sóc cá nhân",
  },
  {
    icon: HairSalonServiceIcon,
    title: "Hair Salon",
    description: "Mái tóc hoàn hảo",
  },
  {
    icon: NailSalonServiceIcon,
    title: "Nail Salon",
    description: "“Look at my nails”",
  },
  {
    icon: BeautyClinicServiceIcon,
    title: "Beauty Clinic",
    description: "Xinh đẹp rạng ngời",
  },
  {
    icon: DentalClinicServiceIcon,
    title: "Dental Clinic",
    description: "Tự tin nụ cười",
  },
];
---

<Container className="bg-white pt-20 pb-4">
  <div class="text-center">
    <div class="mx-5 md:m-auto md:max-w-2xl">
      <Title centered>
        Tất cả các dịch vụ làm đẹp<br class="hidden sm:block" /> chỉ trong 1 ứng
        dụng
      </Title>

      <p class="text-title text-opacity-semi mt-4">
        Từ những store nhỏ xinh gội đầu sảng khoái,<br
          class="hidden sm:block"
        /> đến các cửa hàng làm đẹp thẩm mỹ hoành tráng uy tín.<br /> Tất cả đều
        có trên BeautyBooking
      </p>
    </div>

    <div class="services">
      {
        services.map(({ icon, title, description }) => (
          <div>
            <Fragment set:html={icon} alt="service" />
            <h2 class="text-title mt-4 mb-1 text-opacity-semi font-bold">
              {title}
            </h2>
            <p class="text-sub-header text-opacity-neutral">{description}</p>
          </div>
        ))
      }
    </div>
  </div>
</Container>

<style>
  .services {
    @apply grid grid-cols-2 rounded-3xl px-2 py-16 lg:grid-cols-3 lg:px-8;
  }
  .services div {
    @apply flex flex-col justify-center items-center py-10 px-0 border-r-2 border-grey-300 lg:p-8;
  }

  .services div:nth-child(n + 3) {
    @apply border-t-2;
  }

  .services div:nth-child(2n) {
    @apply border-r-0;
  }

  @media (min-width: 1024px) {
    .services div:nth-child(n + 3) {
      @apply border-t-0;
    }

    .services div:nth-child(2n) {
      @apply border-r-2;
    }

    .services div:nth-child(n + 4) {
      @apply border-t-2;
    }

    .services div:nth-child(3n) {
      @apply border-r-0;
    }
  }
</style>
