---
import Container from "@components/Container.astro";
---

<Container className="px-5 mt-12 xl:mt-[4.5rem] mb-32">
  <div class="md:px-12 lg:px-24 xl:px-[6.5rem]">
    <div class="mb-8">
      <h1 class="text-h3 xl:text-h1 font-bold">Chính sách bảo mật</h1>
      <p class="text-sub-header text-opacity-semi">
        Cập nhật gần nhất : 01/06/2024
      </p>
    </div>

    <div class="flex flex-col gap-y-6">
      <div class="regulartion">
        <h4>01. GIỚI THIỆU</h4>
        <p>
          Chào mừng đến với A.N.S SS Co., Ltd.A.N.S SS Co., Ltd. (“chúng tôi”,
          “chúng ta” hoặc “của chúng tôi”) vận hành <a
            href="https://beautybooking.vn"
            target="_blank">beautybooking.vn</a
          > (sau đây gọi là “Dịch vụ”). Chính sách Bảo mật của chúng tôi quản lý
          việc bạn truy cập vào <a
            href="https://beautybooking.vn"
            target="_blank">beautybooking.vn</a
          > và giải thích cách chúng tôi thu thập, bảo vệ và tiết lộ thông tin
          đó là kết quả của việc bạn sử dụng Dịch vụ của chúng tôi.Chúng tôi sử
          dụng dữ liệu của bạn để cung cấp và cải thiện Dịch vụ. Bằng việc sử
          dụng Dịch vụ, bạn đồng ý với việc thu thập và sử dụng thông tin theo
          chính sách này. Trừ khi được định nghĩa khác trong Chính sách Bảo mật
          này, các điều khoản được sử dụng trong Chính sách Bảo mật này có cùng
          ý nghĩa như trong Điều khoản và Điều kiện của chúng tôi.Các Điều khoản
          và Điều kiện của chúng tôi (“Điều khoản”) chi phối tất cả việc sử dụng
          Dịch vụ của chúng tôi và cùng với Chính sách Bảo mật tạo thành thỏa
          thuận của bạn với chúng tôi (“Thỏa thuận”).
        </p>
      </div>

      <div class="regulartion">
        <h4>02. ĐỊNH NGHĨA</h4>
        <p>
          <span>DỊCH VỤ</span> có nghĩa là trang web beautybooking.vn được vận
          hành bởi A.N.S SS Co., Ltd.<br />
          <span>DỮ LIỆU CÁ NHÂN</span> nghĩa là dữ liệu về một cá thể sống có
          thể được xác định từ những dữ liệu đó (hoặc từ những dữ liệu đó và
          thông tin khác thuộc quyền sở hữu của chúng tôi hoặc có khả năng thuộc
          quyền sở hữu của chúng tôi).<br />
          <span>DỮ LIỆU SỬ DỤNG</span> là dữ liệu được thu thập tự động được tạo
          ra bởi việc sử dụng Dịch vụ hoặc từ chính cơ sở hạ tầng của Dịch vụ
          (ví dụ: thời lượng của một lượt truy cập trang).<br />
          <span>COOKIES</span> là các tệp nhỏ được lưu trữ trên thiết bị của bạn
          (máy tính hoặc thiết bị di động).<br />
          <span>NGƯỜI KIỂM SOÁT DỮ LIỆU</span> có nghĩa là một thể nhân hoặc
          pháp nhân (một mình hoặc cùng hoặc chung với những người khác) xác
          định mục đích và cách thức mà bất kỳ dữ liệu cá nhân nào được hoặc sẽ
          được xử lý. Vì mục đích của Chính sách Bảo mật này, chúng tôi là Người
          kiểm soát dữ liệu đối với dữ liệu của bạn.<br />
          <span>NGƯỜI XỬ LÝ DỮ LIỆU (HOẶC NHÀ CUNG CẤP DỊCH VỤ)</span> có nghĩa
          là bất kỳ thể nhân hoặc pháp nhân nào xử lý dữ liệu thay mặt cho Người
          kiểm soát dữ liệu. Chúng tôi có thể sử dụng dịch vụ của các Nhà cung
          cấp dịch vụ khác nhau để xử lý dữ liệu của bạn hiệu quả hơn.<br />
          <span>ĐỐI TƯỢNG DỮ LIỆU</span> là bất kỳ cá nhân sống nào là chủ thể
          của Dữ liệu Cá nhân.<br />
          <span>NGƯỜI DÙNG</span> là cá nhân sử dụng Dịch vụ của chúng tôi.
          Người dùng tương ứng với Chủ thể Dữ liệu, là chủ thể của Dữ liệu Cá
          nhân.
        </p>
      </div>

      <div class="regulartion">
        <h4>03. THU THẬP VÀ SỬ DỤNG THÔNG TIN</h4>
        <p>
          Chúng tôi thu thập một số loại thông tin khác nhau cho các mục đích
          khác nhau để cung cấp và cải thiện Dịch vụ của chúng tôi cho bạn.
        </p>
      </div>

      <div class="regulartion">
        <h4>04. CÁC LOẠI DỮ LIỆU ĐƯỢC THU THẬP</h4>
        <ul class="list-disc ml-8">
          <li>Dữ liệu cá nhân</li>
          <li>
            Trong khi sử dụng Dịch vụ của chúng tôi, chúng tôi có thể yêu cầu
            bạn cung cấp cho chúng tôi một số thông tin nhận dạng cá nhân nhất
            định có thể được sử dụng để liên hệ hoặc nhận dạng bạn (“Dữ liệu Cá
            nhân”). Thông tin nhận dạng cá nhân có thể bao gồm, nhưng không giới
            hạn ở:<br />0.1. Địa chỉ email<br />0.2. Tên và họ<br />0.3. Số điện
            thoại<br />0.4. Địa chỉ, Quốc gia, Bang, Tỉnh, ZIP / Mã bưu điện,
            Thành phố<br />0.5. Cookie và dữ liệu sử dụng<br />Chúng tôi có thể
            sử dụng Dữ liệu Cá nhân của bạn để liên hệ với bạn bằng các bản tin,
            tài liệu tiếp thị hoặc quảng cáo và thông tin khác mà bạn có thể
            quan tâm. Bạn có thể chọn không nhận bất kỳ hoặc tất cả những thông
            tin liên lạc này từ chúng tôi bằng cách nhấp vào liên kết hủy đăng
            ký.
          </li>
          <li>Dữ liệu sử dụng</li>
          <li>
            Chúng tôi cũng có thể thu thập thông tin mà trình duyệt của bạn gửi
            bất cứ khi nào bạn truy cập Dịch vụ của chúng tôi hoặc khi bạn truy
            cập Dịch vụ bằng hoặc thông qua bất kỳ thiết bị nào (“Dữ liệu sử
            dụng”).<br />Dữ liệu sử dụng này có thể bao gồm thông tin như địa
            chỉ Giao thức Internet trên máy tính của bạn (ví dụ: địa chỉ IP),
            loại trình duyệt, phiên bản trình duyệt, các trang Dịch vụ của chúng
            tôi mà bạn truy cập, ngày giờ bạn truy cập, thời gian dành cho các
            trang đó, số nhận dạng thiết bị duy nhất và dữ liệu chẩn đoán khác.<br
            />Khi bạn truy cập Dịch vụ bằng một thiết bị, Dữ liệu sử dụng này có
            thể bao gồm thông tin như loại thiết bị bạn sử dụng, ID duy nhất của
            thiết bị, địa chỉ IP của thiết bị, hệ điều hành thiết bị của bạn,
            loại trình duyệt Internet bạn sử dụng, số nhận dạng thiết bị duy
            nhất và dữ liệu chẩn đoán khác.
          </li>
          <li>Dữ liệu vị trí</li>
          <li>
            Chúng tôi có thể sử dụng và lưu trữ thông tin về vị trí của bạn nếu
            bạn cho phép chúng tôi làm như vậy (“Dữ liệu Vị trí”). Chúng tôi sử
            dụng dữ liệu này để cung cấp các tính năng của Dịch vụ, nhằm cải
            thiện và tùy chỉnh Dịch vụ của chúng tôi.<br />Bạn có thể bật hoặc
            tắt dịch vụ định vị khi sử dụng Dịch vụ của chúng tôi bất kỳ lúc nào
            bằng cách cài đặt thiết bị của bạn.
          </li>
          <li>Theo dõi dữ liệu cookie</li>
          <li>
            Chúng tôi sử dụng cookie và các công nghệ theo dõi tương tự để theo
            dõi hoạt động trên Dịch vụ của chúng tôi và chúng tôi nắm giữ một số
            thông tin nhất định.<br />Cookie là các tệp có một dung lượng nhỏ dữ
            liệu có thể bao gồm một số nhận dạng duy nhất ẩn danh. Cookie được
            gửi đến trình duyệt của bạn từ một trang web và được lưu trữ trên
            thiết bị của bạn. Các công nghệ theo dõi khác cũng được sử dụng như
            báo hiệu, thẻ và tập lệnh để thu thập và theo dõi thông tin cũng như
            cải thiện và phân tích Dịch vụ của chúng tôi.<br />Bạn có thể hướng
            dẫn trình duyệt của mình từ chối tất cả các cookie hoặc cho biết khi
            nào một cookie được gửi đi. Tuy nhiên, nếu bạn không chấp nhận
            cookie, bạn có thể không sử dụng được một số phần của Dịch vụ của
            chúng tôi.<br />Ví dụ về Cookie chúng tôi sử dụng:<br />0.1. Cookie
            phiên: Chúng tôi sử dụng Cookie phiên để vận hành Dịch vụ của chúng
            tôi.<br />0.2. Cookie ưu tiên: Chúng tôi sử dụng Cookie ưu tiên để
            ghi nhớ các sở thích của bạn và các cài đặt khác nhau.<br />0.3.
            Cookie bảo mật: Chúng tôi sử dụng Cookie bảo mật cho các mục đích
            bảo mật.<br />0.4. Cookie Quảng cáo: Cookie Quảng cáo được sử dụng
            để cung cấp cho bạn những quảng cáo có thể liên quan đến bạn và sở
            thích của bạn.
          </li>
          <li>Dữ liệu khác</li>
          <li>
            Trong khi sử dụng Dịch vụ của chúng tôi, chúng tôi cũng có thể thu
            thập các thông tin sau: giới tính, tuổi, ngày sinh, nơi sinh, chi
            tiết hộ chiếu, quốc tịch, đăng ký nơi cư trú và địa chỉ thực, số
            điện thoại (cơ quan, di động), chi tiết tài liệu về giáo dục, trình
            độ chuyên môn, đào tạo chuyên môn, thỏa thuận việc làm, thỏa thuận
            NDA, thông tin về tiền thưởng và bồi thường, thông tin về tình trạng
            hôn nhân, các thành viên gia đình, số an sinh xã hội (hoặc số nhận
            dạng người nộp thuế khác), vị trí văn phòng và các dữ liệu khác.
          </li>
        </ul>
      </div>

      <div class="regulartion">
        <h4>05. SỬ DỤNG DỮ LIỆU</h4>
        <p>
          A.N.S SS Co., Ltd. sử dụng dữ liệu thu thập được cho các mục đích khác
          nhau:<br />0.1. để cung cấp và duy trì Dịch vụ của chúng tôi;<br
          />0.2. để thông báo cho bạn về những thay đổi dịch vụ của chúng tôi;<br
          />0.3. để cho phép bạn tham gia vào các tính năng tương tác của Dịch
          vụ của chúng tôi khi bạn chọn làm như vậy;<br />0.4. để cung cấp hỗ
          trợ khách hàng;<br />0.5. để thu thập các phân tích hoặc thông tin có
          giá trị để chúng tôi có thể cải thiện Dịch vụ của mình;<br />0.6. để
          giám sát việc sử dụng Dịch vụ của chúng tôi;<br />0.7. để phát hiện,
          ngăn chặn và giải quyết các vấn đề kỹ thuật;<br />0.8. để thực hiện
          bất kỳ mục đích nào khác mà bạn cung cấp cho nó;<br />0.9. để thực
          hiện các nghĩa vụ của chúng tôi và thực thi các quyền của chúng tôi
          phát sinh từ bất kỳ hợp đồng nào được ký kết giữa bạn và chúng tôi,
          bao gồm cả việc lập hóa đơn và thu tiền;<br />0.10. để cung cấp cho
          bạn các thông báo về tài khoản và / hoặc đăng ký của bạn, bao gồm
          thông báo hết hạn và gia hạn, hướng dẫn qua email, v.v.;<br />0.11. để
          cung cấp cho bạn tin tức, ưu đãi đặc biệt và thông tin chung về hàng
          hóa, dịch vụ và sự kiện khác mà chúng tôi cung cấp tương tự như hàng
          hóa, dịch vụ mà bạn đã mua hoặc yêu cầu trừ khi bạn đã chọn không nhận
          thông tin đó;<br />0.12. theo bất kỳ cách nào khác mà chúng tôi có thể
          mô tả khi bạn cung cấp thông tin;<br />0.13. cho bất kỳ mục đích nào
          khác với sự đồng ý của bạn.
        </p>
      </div>

      <div class="regulartion">
        <h4>06. LƯU GIỮ DỮ LIỆU</h4>
        <p>
          Chúng tôi sẽ chỉ lưu giữ Dữ liệu Cá nhân của bạn chừng nào cần thiết
          cho các mục đích được nêu trong Chính sách Bảo mật này. Chúng tôi sẽ
          lưu giữ và sử dụng Dữ liệu Cá nhân của bạn trong phạm vi cần thiết để
          tuân thủ các nghĩa vụ pháp lý của chúng tôi (ví dụ: nếu chúng tôi được
          yêu cầu giữ lại dữ liệu của bạn để tuân thủ luật hiện hành), giải
          quyết tranh chấp và thực thi các thỏa thuận và chính sách pháp lý của
          chúng tôi.<br />Chúng tôi cũng sẽ giữ lại Dữ liệu sử dụng cho các mục
          đích phân tích nội bộ. Dữ liệu sử dụng thường được lưu giữ trong thời
          gian ngắn hơn, ngoại trừ khi dữ liệu này được sử dụng để tăng cường
          bảo mật hoặc để cải thiện chức năng của Dịch vụ của chúng tôi hoặc
          chúng tôi có nghĩa vụ pháp lý phải lưu giữ dữ liệu này trong khoảng
          thời gian dài hơn.
        </p>
      </div>

      <div class="regulartion">
        <h4>07. CHUYỂN DỮ LIỆU</h4>
        <p>
          Thông tin của bạn, bao gồm cả Dữ liệu Cá nhân, có thể được chuyển đến
          - và duy trì trên - các máy tính đặt bên ngoài tỉnh, thành, quốc gia
          của bạn hoặc các khu vực pháp lý khác của chính phủ, nơi luật bảo vệ
          dữ liệu có thể khác với luật của khu vực pháp lý của bạn.<br />Nếu bạn
          ở bên ngoài Việt Nam và chọn cung cấp thông tin cho chúng tôi, xin lưu
          ý rằng chúng tôi chuyển dữ liệu, bao gồm Dữ liệu cá nhân, đến Việt Nam
          và xử lý tại đó.<br />Sự đồng ý của bạn đối với Chính sách quyền riêng
          tư này, sau khi bạn gửi thông tin đó thể hiện sự đồng ý của bạn đối
          với việc chuyển giao đó.<br />A.N.S SS Co., Ltd. sẽ thực hiện tất cả
          các bước cần thiết một cách hợp lý để đảm bảo rằng dữ liệu của bạn
          được xử lý an toàn và tuân theo Chính sách quyền riêng tư này và sẽ
          không có việc chuyển Dữ liệu cá nhân của bạn đến một tổ chức hoặc quốc
          gia trừ khi có các biện pháp kiểm soát thích hợp bao gồm cả bảo mật
          của dữ liệu của bạn và thông tin cá nhân khác.
        </p>
      </div>

      <div class="regulartion">
        <h4>08. TIẾT LỘ DỮ LIỆU</h4>
        <p>
          Chúng tôi có thể tiết lộ thông tin cá nhân mà chúng tôi thu thập hoặc
          bạn cung cấp:<br />0.1. Tiết lộ để Thực thi Pháp luật. Trong một số
          trường hợp nhất định, chúng tôi có thể được yêu cầu tiết lộ Dữ liệu Cá
          nhân của bạn nếu luật pháp yêu cầu làm như vậy hoặc theo yêu cầu hợp
          lệ của cơ quan công quyền.<br />0.2. Giao dịch kinh doanh. Nếu chúng
          tôi hoặc các công ty con của chúng tôi có liên quan đến việc sáp nhập,
          mua lại hoặc bán tài sản, thì Dữ liệu Cá nhân của bạn có thể được
          chuyển giao.<br />0.3. Các trường hợp khác. Chúng tôi cũng có thể tiết
          lộ thông tin của bạn:<br />0.3.1. cho các công ty con và chi nhánh của
          chúng tôi;
          <br />0.3.2. cho các nhà thầu, nhà cung cấp dịch vụ và các bên thứ ba
          khác mà chúng tôi sử dụng để hỗ trợ hoạt động kinh doanh của mình;<br
          />0.3.3. để hoàn thành mục đích mà bạn cung cấp cho nó;<br />0.3.4.
          với mục đích đưa logo của công ty bạn lên trang web của chúng tôi;<br
          />0.3.5. cho bất kỳ mục đích nào khác do chúng tôi tiết lộ khi bạn
          cung cấp thông tin;
          <br />0.3.6. với sự đồng ý của bạn trong bất kỳ trường hợp nào khác;<br
          />0.3.7. nếu chúng tôi tin rằng việc tiết lộ là cần thiết hoặc thích
          hợp để bảo vệ quyền, tài sản hoặc sự an toàn của Công ty, khách hàng
          của chúng tôi hoặc những người khác.
        </p>
      </div>

      <div class="regulartion">
        <h4>09. BẢO MẬT DỮ LIỆU</h4>
        <p>
          Bảo mật dữ liệu của bạn rất quan trọng đối với chúng tôi nhưng hãy nhớ
          rằng không có phương thức truyền tải qua Internet hoặc phương thức lưu
          trữ điện tử nào là an toàn 100%. Mặc dù chúng tôi cố gắng sử dụng các
          phương tiện được chấp nhận về mặt thương mại để bảo vệ Dữ liệu Cá nhân
          của bạn, nhưng chúng tôi không thể đảm bảo tính bảo mật tuyệt đối của
          dữ liệu đó.
        </p>
      </div>

      <div class="regulartion">
        <h4>
          10. QUYỀN BẢO VỆ DỮ LIỆU CỦA BẠN THEO QUY ĐỊNH CHUNG VỀ BẢO VỆ DỮ LIỆU
          (GDPR)
        </h4>
        <p>
          Nếu bạn là cư dân của Liên minh châu âu (EU) và Khu vực kinh tế châu u
          (EEA), bạn có một số quyền bảo vệ dữ liệu nhất định, được quy định
          trong GDPR.<br />Chúng tôi mong muốn thực hiện các bước hợp lý để cho
          phép bạn chỉnh sửa, sửa đổi, xóa hoặc hạn chế việc sử dụng Dữ liệu Cá
          nhân của bạn.<br />Nếu bạn muốn được thông báo về Dữ liệu Cá nhân mà
          chúng tôi nắm giữ về bạn và nếu bạn muốn xóa Dữ liệu đó khỏi hệ thống
          của chúng tôi, vui lòng gửi email cho chúng tôi theo địa chỉ <a
            href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >.<br />Trong một số trường hợp nhất định, bạn có các quyền bảo vệ dữ
          liệu sau:<br />0.1. quyền truy cập, cập nhật hoặc xóa thông tin chúng
          tôi có về bạn;<br />0.2. quyền cải chính. Bạn có quyền sửa thông tin
          của mình nếu thông tin đó không chính xác hoặc không đầy đủ;<br />0.3.
          quyền phản đối. Bạn có quyền phản đối việc chúng tôi xử lý Dữ liệu Cá
          nhân của bạn;<br />0.4. quyền hạn chế. Bạn có quyền yêu cầu chúng tôi
          hạn chế việc xử lý thông tin cá nhân của bạn;<br />0.5. quyền đối với
          tính khả chuyển của dữ liệu. Bạn có quyền được cung cấp bản sao Dữ
          liệu Cá nhân của mình ở định dạng có cấu trúc, có thể đọc được bằng
          máy và được sử dụng phổ biến;<br />0.6. quyền rút lại sự đồng ý. Bạn
          cũng có quyền rút lại sự đồng ý của mình bất kỳ lúc nào khi chúng tôi
          dựa vào sự đồng ý của bạn để xử lý thông tin cá nhân của bạn;<br />Xin
          lưu ý rằng chúng tôi có thể yêu cầu bạn xác minh danh tính của mình
          trước khi trả lời các yêu cầu như vậy. Xin lưu ý, chúng tôi có thể
          không cung cấp Dịch vụ nếu không có một số dữ liệu cần thiết.<br />Bạn
          có quyền khiếu nại với Cơ quan bảo vệ dữ liệu về việc chúng tôi thu
          thập và sử dụng Dữ liệu cá nhân của bạn. Để biết thêm thông tin, vui
          lòng liên hệ với cơ quan bảo vệ dữ liệu địa phương của bạn trong Khu
          vực Kinh tế Châu u (EEA).
        </p>
      </div>

      <div class="regulartion">
        <h4>
          11. QUYỀN BẢO VỆ DỮ LIỆU CỦA BẠN THEO ĐẠO LUẬT BẢO VỆ QUYỀN RIÊNG TƯ
          CỦA CALIFORNIA (CALOPPA)
        </h4>
        <p>
          CalOPPA là luật tiểu bang đầu tiên trên toàn quốc yêu cầu các trang
          web thương mại và dịch vụ trực tuyến phải đăng chính sách bảo mật.
          Phạm vi của luật này còn vượt ra ngoài California để yêu cầu một cá
          nhân hoặc công ty ở Hoa Kỳ (và có thể tưởng tượng được trên thế giới)
          điều hành các trang web thu thập thông tin nhận dạng cá nhân từ người
          tiêu dùng California đăng chính sách bảo mật dễ thấy trên trang web
          của họ nêu rõ chính xác thông tin đang được thu thập và những các cá
          nhân được chia sẻ thông tin và tuân thủ chính sách này.<br />Theo
          CalOPPA, chúng tôi đồng ý với những điều sau:<br />0.1. người dùng có
          thể truy cập trang web của chúng tôi một cách ẩn danh;<br />0.2. liên
          kết Chính sách Bảo mật của chúng tôi bao gồm từ “Quyền riêng tư”, và
          có thể dễ dàng tìm thấy trên trang chủ của trang web của chúng tôi;<br
          />0.3. người dùng sẽ được thông báo về bất kỳ thay đổi chính sách bảo
          mật nào trên Trang Chính sách Bảo mật của chúng tôi;<br />0.4. người
          dùng có thể thay đổi thông tin cá nhân của họ bằng cách gửi email cho
          chúng tôi tại <a href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >.<br />Chính sách của chúng tôi về Tín hiệu “Không theo dõi”:<br
          />Chúng tôi tôn trọng các tín hiệu Không theo dõi và không theo dõi,
          cài đặt cookie hoặc sử dụng quảng cáo khi có cơ chế Không theo dõi
          trình duyệt. Không theo dõi là một tùy chọn bạn có thể đặt trong trình
          duyệt web của mình để thông báo cho các trang web mà bạn không muốn bị
          theo dõi.<br />Bạn có thể bật hoặc tắt Không theo dõi bằng cách truy
          cập trang Tùy chọn hoặc Cài đặt của trình duyệt web của bạn.
        </p>
      </div>

      <div class="regulartion">
        <h4>
          12. QUYỀN BẢO VỆ DỮ LIỆU CỦA BẠN THEO ĐẠO LUẬT QUYỀN RIÊNG TƯ CỦA
          NGƯỜI TIÊU DÙNG CALIFORNIA (CCPA)
        </h4>
        <p>
          Nếu bạn là cư dân California, bạn có quyền tìm hiểu những dữ liệu
          chúng tôi thu thập về bạn, yêu cầu xóa dữ liệu của bạn và không bán
          (chia sẻ) dữ liệu đó. Để thực hiện các quyền bảo vệ dữ liệu của mình,
          bạn có thể đưa ra một số yêu cầu nhất định và yêu cầu chúng tôi:<br
          />0.1. Chúng tôi có thông tin cá nhân nào về bạn. Nếu bạn đưa ra yêu
          cầu này, chúng tôi sẽ trả lại cho bạn:<br />0.0.1. Các loại thông tin
          cá nhân chúng tôi đã thu thập về bạn.<br />0.0.2. Các loại nguồn mà
          chúng tôi thu thập thông tin cá nhân của bạn.<br />0.0.3. Mục đích
          kinh doanh hoặc thương mại để thu thập hoặc bán thông tin cá nhân của
          bạn.<br />0.0.4. Các loại bên thứ ba mà chúng tôi chia sẻ thông tin cá
          nhân.<br />0.0.5. Các phần thông tin cá nhân cụ thể mà chúng tôi đã
          thu thập về bạn.<br />0.0.6. Danh sách các danh mục thông tin cá nhân
          mà chúng tôi đã bán, cùng với danh mục của bất kỳ công ty nào khác mà
          chúng tôi đã bán thông tin đó cho họ. Nếu chúng tôi chưa bán thông tin
          cá nhân của bạn, chúng tôi sẽ thông báo cho bạn về sự thật đó.<br
          />0.0.7. Danh sách các danh mục thông tin cá nhân mà chúng tôi đã tiết
          lộ cho mục đích kinh doanh, cùng với danh mục của bất kỳ công ty nào
          khác mà chúng tôi đã chia sẻ thông tin đó.<br /> Xin lưu ý, bạn có
          quyền yêu cầu chúng tôi cung cấp cho bạn thông tin này tối đa hai lần
          trong khoảng thời gian mười hai tháng luân phiên. Khi bạn đưa ra yêu
          cầu này, thông tin được cung cấp có thể giới hạn trong thông tin cá
          nhân mà chúng tôi đã thu thập về bạn trong 12 tháng trước.<br />0.2.
          Để xóa thông tin cá nhân của bạn. Nếu bạn đưa ra yêu cầu này, chúng
          tôi sẽ xóa thông tin cá nhân mà chúng tôi giữ về bạn kể từ ngày bạn
          yêu cầu khỏi hồ sơ của chúng tôi và chỉ đạo bất kỳ nhà cung cấp dịch
          vụ nào cũng làm như vậy. Trong một số trường hợp, việc xóa có thể được
          thực hiện thông qua việc khử nhận dạng thông tin. Nếu bạn chọn xóa
          thông tin cá nhân của mình, bạn có thể không sử dụng được một số chức
          năng yêu cầu thông tin cá nhân của bạn để hoạt động.<br />0.3. Để
          ngừng bán thông tin cá nhân của bạn. Chúng tôi không bán hoặc cho thuê
          thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào vì bất kỳ mục đích
          nào. Chúng tôi không bán thông tin cá nhân của bạn để xem xét tiền tệ.
          Tuy nhiên, trong một số trường hợp, việc chuyển giao thông tin cá nhân
          cho bên thứ ba hoặc trong nhóm công ty của chúng tôi mà không tính đến
          tiền có thể được coi là “mua bán” theo luật của California. Bạn là chủ
          sở hữu duy nhất của Dữ liệu Cá nhân của mình và có thể yêu cầu tiết lộ
          hoặc xóa bất kỳ lúc nào.<br />Nếu bạn gửi yêu cầu ngừng bán thông tin
          cá nhân của mình, chúng tôi sẽ ngừng thực hiện các giao dịch đó.<br
          />Xin lưu ý, nếu bạn yêu cầu chúng tôi xóa hoặc ngừng bán dữ liệu của
          bạn, điều đó có thể ảnh hưởng đến trải nghiệm của bạn với chúng tôi và
          bạn có thể không tham gia được vào các chương trình hoặc dịch vụ thành
          viên nhất định yêu cầu sử dụng thông tin cá nhân của bạn để hoạt động.
          Nhưng trong mọi trường hợp, chúng tôi sẽ không phân biệt đối xử với
          bạn nếu bạn thực hiện các quyền của mình.<br />Để thực hiện các quyền
          bảo vệ dữ liệu California của bạn được mô tả ở trên, vui lòng gửi
          (các) yêu cầu của bạn qua email: <a
            href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >.<br />Các quyền bảo vệ dữ liệu của bạn, được mô tả ở trên, chịu sự
          điều chỉnh của CCPA, viết tắt của Đạo luật Quyền riêng tư của Người
          tiêu dùng California. Để tìm hiểu thêm, hãy truy cập trang web Thông
          tin Lập pháp chính thức của California. CCPA có hiệu lực từ ngày
          01/01/2020.
        </p>
      </div>

      <div class="regulartion">
        <h4>13. NHÀ CUNG CẤP DỊCH VỤ</h4>
        <p>
          BeautyBooking khuyến khích Bạn liên hệ với Trung tâm Hỗ trợ khách hàng
          BeautyBooking qua tổng đài 0973 611 911 từ 8 giờ 30 sáng đến 21 giờ 00
          mỗi ngày khi có nhu cầu hỗ trợ. Bạn có thể dùng công cụ ở mục Liên hệ
          để gửi các yêu cầu cụ thể trong trường hợp các kênh liên hệ qua tổng
          đài hoặc điện thoại không khả dụng.Thông tin Tài khoản quản trị sau
          khi đăng ký thành công Cửa hàng, các thông báo tự động từ hệ thống,
          xác nhận đổi mật khẩu, quên mật khẩu được gửi đến Bạn từ email <a
            href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >. Mọi thông báo tự động từ các nguồn khác đều không đáng tin cậy,
          trong trường hợp Bạn nhận được email không đến từ nguồn trên,
          BeautyBooking khuyến nghị Bạn liên hệ ngay với Trung tâm hỗ trợ khách
          hàng để được hỗ trợ.BeautyBooking khuyến cáo Bạn chỉ gửi thông tin Dữ
          liệu cửa hàng nhằm mục đích hỗ trợ, triển khai vào email <a
            href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >. BeautyBooking không đảm bảo Dữ liệu cửa hàng của Bạn được bảo mật
          nếu Bạn gửi vào email khác email nêu trong Điều khoản sử dụng này hoặc
          email cá nhân của Nhân viên, CTV, Đại lý của BeautyBooking.
        </p>
      </div>

      <div class="regulartion">
        <h4>14. PHÂN TÍCH</h4>
        <p>
          Chúng tôi có thể sử dụng Nhà cung cấp dịch vụ bên thứ ba để theo dõi
          và phân tích việc sử dụng Dịch vụ của chúng tôi.
        </p>
      </div>

      <div class="regulartion">
        <h4>15. CÔNG CỤ CI/CD</h4>
        <p>
          Chúng tôi có thể sử dụng các Nhà cung cấp Dịch vụ bên thứ ba để tự
          động hóa quá trình phát triển Dịch vụ của chúng tôi.
        </p>
      </div>

      <div class="regulartion">
        <h4>16. TIẾP THỊ LẠI HÀNH VI</h4>
        <p>
          Chúng tôi có thể sử dụng dịch vụ tiếp thị lại để quảng cáo trên các
          trang web của bên thứ ba cho bạn sau khi bạn truy cập Dịch vụ của
          chúng tôi. Chúng tôi và các nhà cung cấp bên thứ ba của chúng tôi sử
          dụng cookie để thông báo, tối ưu hóa và phân phát quảng cáo dựa trên
          các lượt truy cập trước đây của bạn vào Dịch vụ của chúng tôi.
        </p>
      </div>

      <div class="regulartion">
        <h4>17. LIÊN KẾT ĐẾN CÁC TRANG WEB KHÁC</h4>
        <p>
          Dịch vụ của chúng tôi có thể chứa các liên kết đến các trang web khác
          không do chúng tôi điều hành. Nếu bạn nhấp vào liên kết của bên thứ
          ba, bạn sẽ được dẫn đến trang web của bên thứ ba đó. Chúng tôi đặc
          biệt khuyên bạn nên xem lại Chính sách Bảo mật của mọi trang web bạn
          truy cập.<br />Chúng tôi không kiểm soát và không chịu trách nhiệm về
          nội dung, chính sách bảo mật hoặc thông lệ của bất kỳ trang web hoặc
          dịch vụ nào của bên thứ ba.
        </p>
      </div>

      <div class="regulartion">
        <h4>18. QUYỀN RIÊNG TƯ CỦA TRẺ EM</h4>
        <p>
          Dịch vụ của chúng tôi không dành cho trẻ em dưới 15 tuổi (“Trẻ em”
          hoặc “Trẻ em”).<br />Chúng tôi không cố ý thu thập thông tin nhận dạng
          cá nhân từ Trẻ em dưới 15 tuổi. Nếu bạn biết rằng Trẻ em đã cung cấp
          Dữ liệu Cá nhân cho chúng tôi, vui lòng liên hệ với chúng tôi. Nếu
          chúng tôi biết rằng chúng tôi đã thu thập Dữ liệu Cá nhân của Trẻ em
          mà không có sự xác minh của sự đồng ý của cha mẹ, chúng tôi sẽ thực
          hiện các bước để xóa thông tin đó khỏi máy chủ của mình.
        </p>
      </div>

      <div class="regulartion">
        <h4>19. THAY ĐỔI ĐỐI VỚI CHÍNH SÁCH BẢO MẬT NÀY</h4>
        <p>
          Chúng tôi có thể cập nhật Chính sách Bảo mật của mình theo thời gian.
          Chúng tôi sẽ thông báo cho bạn về bất kỳ thay đổi nào bằng cách đăng
          Chính sách Bảo mật mới trên trang này.<br />Chúng tôi sẽ cho bạn biết
          qua email và / hoặc một thông báo nổi bật về Dịch vụ của chúng tôi,
          trước khi thay đổi có hiệu lực và cập nhật “ngày có hiệu lực” ở đầu
          Chính sách quyền riêng tư này.<br />Bạn nên xem lại Chính sách Bảo mật
          này định kỳ để biết bất kỳ thay đổi nào. Các thay đổi đối với Chính
          sách Bảo mật này có hiệu lực khi chúng được đăng trên trang này.
        </p>
      </div>

      <div class="regulartion">
        <h4>20. LIÊN HỆ VỚI CHÚNG TÔI</h4>
        <p>
          Nếu bạn có bất kỳ câu hỏi nào về Chính sách Bảo mật này, vui lòng liên
          hệ với chúng tôi qua email: <a
            href="mailto:beautybooking.sup@gmail.com"
            >beautybooking.sup@gmail.com</a
          >.
        </p>
      </div>
    </div>
  </div>
</Container>

<style>
  .regulartion {
    @apply text-title;
  }

  .regulartion h4 {
    @apply text-primary-700 font-bold mb-3;
  }

  .regulartion p span {
    @apply font-bold;
  }

  .regulartion a {
    @apply text-primary-600;
  }
</style>
