---
import DownloadOn from "./DownloadOn.astro";

interface Props {
  isMobile?: boolean;
}

const { isMobile } = Astro.props;

const statistics = [
  {
    title: "70+",
    description: "Cơ sở",
  },
  {
    title: "800+",
    description: "Dịch vụ",
  },
  {
    title: "5.0",
    description: "Đánh giá",
  },
];

const className = isMobile ? "mt-8 md:hidden" : "hidden md:block";
---

<div class={className}>
  <p class="text-title text-opacity-semi text-center md:text-left md:mt-8">
    Không còn những lần đợi chờ, những trải nghiệm dịch vụ không như mong đợi.
    Tải BeautyBooking & đặt lịch làm đẹp ngay hôm nay, những gì bạn cần làm là
    tận hưởng.
  </p>

  <div class="md:mt-11">
    <p class="text-caption text-opacity-neutral font-semibold">Tải ngay</p>

    <DownloadOn className="mt-3 md:justify-start" />
  </div>

  <div
    class="w-full py-4 grid grid-cols-3 divide-x divide-grey-400 bg-grey-200 text-center border border-grey-400 rounded-xl md:hidden"
  >
    {
      statistics.map(({ title, description }) => (
        <div>
          <h5 class="text-opacity-pure text-h5 font-semibold">{title}</h5>
          <p class="text-opacity-neutral text-paragraph">{description}</p>
        </div>
      ))
    }
  </div>
</div>
