---
import CheckedIcon from "@assets/svgs/checked.svg?raw";

interface ChecklistItem {
  title: string;
  description: string;
}

interface Props {
  checklist: ChecklistItem[];
  isMobile?: boolean;
}

const { checklist, isMobile } = Astro.props;

const className = isMobile
  ? "grid grid-cols-2 gap-x-3 gap-y-6 mt-12 md:hidden"
  : "hidden md:mt-8 md:flex md:flex-col md:gap-y-5";
---

<div class={className}>
  {
    checklist.map(({ title, description }) => (
      <div class="flex flex-col md:flex-row">
        <div class="flex justify-center items-center border-2 border-primary-600 rounded-full w-7 h-7 ml-2 mb-2 md:min-w-[1.75rem] md:mt-2">
          <Fragment set:html={CheckedIcon} />
        </div>
        <div class="ml-2 md:ml-4">
          <h4 class="text-title text-opacity-pure mb-1">{title}</h4>
          <p class="text-paragraph text-opacity-neutral">{description}</p>
        </div>
      </div>
    ))
  }
</div>
