---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div class={className}>
  <div class="max-w-[90rem] mx-auto md:px-12 xl:px-20">
    <slot />
  </div>
</div>
