---
interface Props {
  size?: "large" | "medium";
  className?: string;
  centered?: boolean;
}

const { size = "medium", className = "", centered } = Astro.props;

const sizeClass =
  size === "large" ? "text-h3 xl:text-h2" : "text-h4 md:text-h3";
const centerdClass = centered ? "md:text-center" : "md:text-left";
---

<h1
  class={`text-center font-semibold ${sizeClass} ${centerdClass} ${className}`}
>
  <slot />
</h1>
