---
import Container from "@components/Container.astro";
---

<Container className="px-5 mt-[4.5rem] mb-32 md:mx-20">
  <div class="mb-8">
    <h1 class="text-h1 font-bold">Điều khoản sử dụng</h1>
    <p class="text-sub-header text-opacity-semi">
      Cập nhật gần nhất : 01/06/2024
    </p>
  </div>

  <div class="flex flex-col gap-y-6">
    <div class="regulartion">
      <h4>01. PHẠM VI ÁP DỤNG</h4>
      <p>
        Điều khoản sử dụng này áp dụng cho dịch vụ phần mềm quản lý bán hàng
        BeautyBooking, phiên bản chính thức chạy trên máy chủ của BeautyBooking
        dưới tên miền chính thức <a
          href="https://beautybooking.vn"
          target="_blank">https://beautybooking.vn</a
        > và ứng dụng BeautyBooking. BeautyBooking duy trì trang thông tin điện
        tử

        <a href="https://beautybooking.vn" target="_blank"
          >https://beautybooking.vn</a
        > và các tên miền phụ như một dịch vụ cung cấp cho khách hàng nhưng
        không giới hạn là các cá nhân, tổ chức sử dụng. Khi sử dụng Website này
        và bất kỳ dịch vụ nào tại đây có nghĩa là Bạn đã chấp nhận và đồng ý
        tuân theo bản Điều khoản sử dụng này. Ngoài ra khi sử dụng các dịch vụ
        cụ thể của BeautyBooking, người dùng phải tuân theo các điều khoản và
        điều kiện riêng áp dụng cho dịch vụ đó theo từng thời điểm.
        BeautyBooking có thể thay đổi, điều chỉnh điều khoản sử dụng này, người
        dùng có thể xem những thông tin mới cập nhật vào bất cứ lúc nào tại
        <a href="https://beautybooking.vn" target="_blank"
          >https://beautybooking.vn</a
        >. Nếu Bạn tiếp tục sử dụng Dịch vụ có nghĩa là người dùng chấp nhận và
        đồng ý tuân theo Điều khoản sử dụng mới được cập nhật. Bất cứ sự vi phạm
        nào của bạn đối với các điều khoản và điều kiện này đều có thể dẫn đến
        việc đình chỉ hoặc kết thúc tài khoản, dịch vụ hoặc những hoạt động được
        phép khác theo thỏa thuận sử dụng dịch vụ của BeautyBooking.
      </p>
    </div>

    <div class="regulartion">
      <h4>02. SỬ DỤNG HỢP PHÁP</h4>
      <p>
        Bạn phải nhận thức và chấp nhận rằng Bạn có trách nhiệm sử dụng Dịch vụ
        vào công việc kinh doanh dịch vụ phù hợp với pháp luật hiện hành và
        thuần phong mỹ tục Việt Nam. Bạn không được sử dụng dịch vụ để tuyên
        truyền nội dung đồi trụy, chống phá nhà nước, phát tán thư rác và / hoặc
        các thông tin không mong muốn đến những tổ chức và cá nhân khác trong hệ
        thống dưới mọi hình thức.
      </p>
    </div>

    <div class="regulartion">
      <h4>03. QUYỀN SỞ HỮU TRÍ TUỆ</h4>
      <p>
        Website <a href="https://beautybooking.vn" target="_blank"
          >https://beautybooking.vn</a
        >, ứng dụng BeautyBooking thuộc bản quyền của Công ty cổ phần Phần mềm
        A.N.S SS Co., Ltd.Tất cả nội dung tại Website thuộc sở hữu của A.N.S SS
        Co., Ltd. BeautyBooking cho phép Bạn xem, tải về và in Nội dung khi (i)
        Sử dụng cho mục đích cá nhân, không cho mục đích thương mại; (ii) Không
        chỉnh sửa Nội dung. (iii) Trích dẫn nguồn từ Website theo đúng quy định.
        Ngoại trừ việc cho phép như trên, Bạn không được phép sao chép, điều
        chỉnh hoặc sử dụng lại Nội dung Website mà không có sự cho phép trước
        bằng văn bản của A.N.S SS Co., Ltd. Để yêu cầu sử dụng Nội dung, Bạn có
        thể liên hệ theo địa chỉ: <a href="mailto:beautybooking.sup@gmail.com"
          >beautybooking.sup@gmail.com</a
        >. Nếu được chấp thuận, Bạn phải bảo đảm là việc sử dụng Nội dung
        Website của Bạn không vi phạm quyền, lợi ích của các cá nhân/tổ chức
        khác và phải ghi rõ nguồn từ <a
          href="https://beautybooking.vn"
          target="_blank">https://beautybooking.vn</a
        >.
      </p>
    </div>

    <div class="regulartion">
      <h4>04. BẢO MẬT THÔNG TIN</h4>
      <p>
        Bạn phải có trách nhiệm lưu giữ thông tin truy cập vào Cửa hàng để tránh
        trường hợp tài khoản bị đánh cắp và/ hoặc bị lạm dụng với mục đích không
        an toàn cho cả Bạn và BeautyBooking. BeautyBooking không chịu trách
        nhiệm đối với sự xâm nhập trái phép của bên thứ ba vào Cửa hàng của Bạn
        do sự bất cẩn của Bạn. BeautyBooking khuyến cáo Bạn đổi mật khẩu sau khi
        cung cấp mật khẩu cho các bên liên quan nhằm mục đích hỗ trợ sử dụng.
        Ngoài ra, BeautyBooking cam kết giữ kín mọi thông tin của Bạn khi sử
        dụng các Dịch vụ trên Website của BeautyBooking và không tiết lộ cho bên
        thứ ba. BeautyBooking chỉ thay đổi thông tin của Bạn trên Website và Ứng
        dụng BeautyBooking khi có sự đồng ý hoặc yêu cầu của Bạn.
      </p>
    </div>

    <div class="regulartion">
      <h4>05. XỬ LÝ SỰ CỐ</h4>
      <p>
        Bạn có trách nhiệm thông báo ngay cho BeautyBooking khi phát hiện sự cố,
        tích cực phối hợp với BeautyBooking để khắc phục sớm nhất cho Bạn. Trong
        trường hợp sự cố liên quan đến Bên thứ ba, Bạn có trách nhiệm phối hợp
        với các bên liên quan để giải quyết. Bạn hiểu và chấp nhận rằng, trong
        mọi trường hợp, BeautyBooking luôn cố gắng hỗ trợ và khắc phục, tuy
        nhiên BeautyBooking sẽ không chịu trách nhiệm trước những thiệt hại phát
        sinh do sự chậm trễ không thông báo hoặc che giấu của Bạn.
      </p>
    </div>

    <div class="regulartion">
      <h4>06. GIỚI HẠN TRÁCH NHIỆM</h4>
      <p>
        BeautyBooking sẽ không chịu bất kỳ trách nhiệm nào hoặc trách nhiệm liên
        đới đối với những hậu quả của việc truy cập trái phép đến máy chủ,
        Website, Ứng dụng BeautyBooking; trang thiết bị và dữ liệu của Bạn hoặc
        dữ liệu khách hàng của Bạn vì tai nạn, phương tiện bất hợp pháp, thiết
        bị của Bên thứ ba và các nguyên nhân khác nằm ngoài sự kiểm soát của
        BeautyBooking.Như một điều kiện khi sử dụng Website này và Dịch vụ, Bạn
        đồng ý rằng BeautyBooking, nhân viên, các tổ chức thành viên, cổ đông,
        đại lý, nhà cung cấp của BeautyBooking sẽ không chịu trách nhiệm với Bên
        thứ ba về các thiệt hại về lợi nhuận, cơ hội kinh doanh; thiệt hại, chi
        phí phát sinh trực tiếp hay gián tiếp vì kết nối với Website này hay sử
        dụng các Dịch vụ của BeautyBooking. BeautyBooking sẽ không chịu bất kỳ
        trách nhiệm nào hoặc trách nhiệm liên đới đối với chất lượng sản phẩm,
        dịch vụ, thông tin của các website của Bên thứ ba có liên kết với
        Website
        <a href="https://beautybooking.vn" target="_blank"
          >https://beautybooking.vn</a
        >. Ngoài ra, Bạn cũng hiểu rằng, BeautyBooking không có trách nhiệm và
        thẩm quyền xác nhận, chứng nhận thông tin và chất lượng dịch vụ, sản
        phẩm hay bồi thường các thiệt hại liên quan đến việc Bạn sử dụng dịch
        vụ, sản phẩm được quảng cáo trên website đó. BeautyBooking khuyến nghị
        Bạn tìm hiểu đối tác kỹ càng trước khi xúc tiến hợp tác để tránh các
        thiệt hại không mong muốn. BeautyBooking không bảo đảm cũng như không
        chịu trách nhiệm về kết quả kinh doanh của Bạn sau khi sử dụng dịch vụ.
      </p>
    </div>

    <div class="regulartion">
      <h4>07. ĐẢM BẢO CUNG CẤP DỊCH VỤ</h4>
      <p>
        Website và các Dịch vụ, Tính năng được cung cấp trên cơ sở “có thể thực
        hiện được”. BeautyBooking không bảo đảm rằng Website hoặc Dịch vụ sẽ
        luôn sẵn sàng, có thể sử dụng, không bị gián đoạn, đúng thời gian, không
        có lỗi. Tuy nhiên BeautyBooking và các nhân viên của A.N.S SS Co., Ltd.
        cam kết cố gắng trong mọi điều kiện và khả năng có thể để đảm bảo
        Website và Dịch vụ luôn được sẵn sàng. Bạn cần lưu ý rằng Website này và
        Dịch vụ là dựa trên những dịch vụ đường truyền Internet và có thể bị mất
        điện hoặc gián đoạn, bị bên ngoài tấn công và xảy ra chậm trễ. Trong
        những trường hợp như vậy, đối với những điều khoản này, BeautyBooking
        cam kết nỗ lực khắc phục sự gián đoạn và đưa ra sự điều chỉnh, sửa chữa
        và thay thế trong khả năng có thể để phục hồi hệ thống.
      </p>
    </div>

    <div class="regulartion">
      <h4>08. SỬ DỤNG KHU VỰC CHUNG</h4>
      <p>
        Bạn hiểu và chấp nhận rằng BeautyBooking có quyền quản lý, khai thác và
        sử dụng Khu vực chung trên Website theo quyết định và xem xét duy nhất
        của BeautyBooking, mọi yêu cầu của Bạn về sử dụng Khu vực chung trên
        Website cho mục đích riêng của Bạn có thể được tính phí ngoài phí dịch
        vụ quy định trong Hợp đồng.
      </p>
    </div>

    <div class="regulartion">
      <h4>07. ĐẢM BẢO CUNG CẤP DỊCH VỤ</h4>
      <p>
        Website và các Dịch vụ, Tính năng được cung cấp trên cơ sở “có thể thực
        hiện được”. BeautyBooking không bảo đảm rằng Website hoặc Dịch vụ sẽ
        luôn sẵn sàng, có thể sử dụng, không bị gián đoạn, đúng thời gian, không
        có lỗi. Tuy nhiên BeautyBooking và các nhân viên của A.N.S SS Co., Ltd.
        cam kết cố gắng trong mọi điều kiện và khả năng có thể để đảm bảo
        Website và Dịch vụ luôn được sẵn sàng. Bạn cần lưu ý rằng Website này và
        Dịch vụ là dựa trên những dịch vụ đường truyền Internet và có thể bị mất
        điện hoặc gián đoạn, bị bên ngoài tấn công và xảy ra chậm trễ. Trong
        những trường hợp như vậy, đối với những điều khoản này, BeautyBooking
        cam kết nỗ lực khắc phục sự gián đoạn và đưa ra sự điều chỉnh, sửa chữa
        và thay thế trong khả năng có thể để phục hồi hệ thống.
      </p>
    </div>

    <div class="regulartion">
      <h4>08. SỬ DỤNG KHU VỰC CHUNG</h4>
      <p>
        Bạn hiểu và chấp nhận rằng BeautyBooking có quyền quản lý, khai thác và
        sử dụng Khu vực chung trên Website theo quyết định và xem xét duy nhất
        của BeautyBooking, mọi yêu cầu của Bạn về sử dụng Khu vực chung trên
        Website cho mục đích riêng của Bạn có thể được tính phí ngoài phí dịch
        vụ qui định trong Hợp đồng.
      </p>
    </div>

    <div class="regulartion">
      <h4>09. SỬ DỤNG KHU VỰC RIÊNG</h4>
      <p>
        Bạn có toàn quyền sử dụng Khu vực riêng được bảo vệ bằng mật khẩu cho
        các hoạt động của mình. BeautyBooking không can thiệp và không chịu
        trách nhiệm về các thao tác của Bạn tác động lên dữ liệu và thông tin
        trên Khu vực riêng. Mọi yêu cầu phát sinh trong việc sử dụng Khu vực
        riêng không nằm trong cam kết ban đầu có thể được tính phí ngoài phí
        dịch vụ qui định trong Hợp đồng.
      </p>
    </div>

    <div class="regulartion">
      <h4>10. TRUY CẬP KHU VỰC RIÊNG</h4>
      <p>
        Bạn hiểu và chấp nhận rằng BeautyBooking có quyền truy cập khu vực riêng
        của Bạn khi (i) được Bạn đồng ý nhằm mục đích hỗ trợ sử dụng, xử lý sự
        cố (ii) Bạn yêu cầu (iii) trong tình huống khẩn cấp, nhằm ngăn chặn xâm
        nhập trái phép hoặc tấn công phá hoại từ bên ngoài.Bạn hiểu và chấp nhận
        rằng Bạn không có quyền và không có quyền yêu cầu truy cập khu vực riêng
        của BeautyBooking, khu vực quản trị Dịch vụ, Hệ thống và Quản trị
        website.
      </p>
    </div>

    <div class="regulartion">
      <h4>11. THÔNG TIN LIÊN LẠC</h4>
      <p>
        BeautyBooking khuyến khích Bạn liên hệ với Trung tâm Hỗ trợ khách hàng
        BeautyBooking qua tổng đài 0973 611 911 từ 8 giờ 30 sáng đến 21 giờ 00
        mỗi ngày khi có nhu cầu hỗ trợ. Bạn có thể dùng công cụ ở mục Liên hệ để
        gửi các yêu cầu cụ thể trong trường hợp các kênh liên hệ qua tổng đài
        hoặc điện thoại không khả dụng.Thông tin Tài khoản quản trị sau khi đăng
        ký thành công Cửa hàng, các thông báo tự động từ hệ thống, xác nhận đổi
        mật khẩu, quên mật khẩu được gửi đến Bạn từ email <a
          href="mailto:beautybooking.sup@gmail.com"
          >beautybooking.sup@gmail.com</a
        >. Mọi thông báo tự động từ các nguồn khác đều không đáng tin cậy, trong
        trường hợp Bạn nhận được email không đến từ nguồn trên, BeautyBooking
        khuyến nghị Bạn liên hệ ngay với Trung tâm hỗ trợ khách hàng để được hỗ
        trợ. BeautyBooking khuyến cáo Bạn chỉ gửi thông tin Dữ liệu cửa hàng
        nhằm mục đích hỗ trợ, triển khai vào email <a
          href="mailto:beautybooking.sup@gmail.com"
          >beautybooking.sup@gmail.com</a
        >. BeautyBooking không đảm bảo Dữ liệu cửa hàng của Bạn được bảo mật nếu
        Bạn gửi vào email khác email nêu trong Điều khoản sử dụng này hoặc email
        cá nhân của Nhân viên, CTV, Đại lý của BeautyBooking.
      </p>
    </div>

    <div class="regulartion">
      <h4>12. THƯƠNG HIỆU</h4>
      <p>
        Thương hiệu BeautyBooking, Logo BeautyBooking… đã được đăng ký độc quyền
        nhãn hiệu của BeautyBooking tại Việt Nam. BeautyBooking có quyền hợp
        pháp bổ sung, điều chỉnh danh mục các thương hiệu, nhãn hiệu này tùy
        từng thời điểm. Bạn không được đăng ký dù là cố ý hay vô ý bất kỳ nhãn
        hiệu hoặc logo nào tương tự có thể gây hiểu lầm hoặc trùng lặp với những
        nhãn hiệu và logo đã được đăng ký độc quyền. Bạn phải tuân thủ tất cả
        tiêu chuẩn đề ra của thương hiệu BeautyBooking, logo BeautyBooking và
        phải sử dụng theo đúng quy định của BeautyBooking.
      </p>
    </div>

    <div class="regulartion">
      <h4>13. ĐIỀU KHOẢN CHUNG</h4>
      <p>
        Trường hợp có bất kỳ điều khoản nào của Điều khoản sử dụng này hết hiệu
        lực hoặc không thể thi hành vì bất cứ lý do gì sẽ chỉ ảnh hưởng đến
        điều, khoản đã xác định hết hiệu lực đó và không ảnh hưởng đến hiệu lực
        của các điều khoản còn lại. Nếu có sự khác biệt giữa Điều khoản sử dụng
        này và các Thỏa thuận sử dụng Dịch vụ thì quy định nào mới nhất sẽ có
        hiệu lực.
      </p>
    </div>

    <div class="regulartion">
      <h4>14. ỨNG DỤNG BEAUTYBOOKING</h4>
      <p>
        Nếu bạn đã tải về Ứng dụng BeautyBooking từ Apple App Store hoặc
        GooglePlay, các điều khoản sau đây sẽ được bổ sung và có hiệu lực: Điều
        khoản này là thỏa thuận giữa Bạn và BeautyBooking, và không phải với
        Apple hay Google. BeautyBooking (không phải Apple hay Google) có trách
        nhiệm về Ứng dụng BeautyBooking. Bạn hiểu và chấp nhận rằng Apple hay
        Google không có nghĩa vụ phải cung cấp các dịch vụ bảo dưỡng, hỗ trợ bạn
        trong sử dụng Ứng dụng BeautyBooking; Khi sử dụng Ứng dụng
        BeautyBooking, bạn hiểu và chấp nhận nhận rằng chúng tôi có quyền sử
        dụng những API hệ thống sau để truy cập vào dữ liệu trên điện thoại của
        bạn: (1) Lấy vị trí hiện tại của bạn, (2) Ghi dữ liệu của Ứng dụng
        BeautyBooking lên thẻ nhớ, (3) Truy cập vào Internet từ thiết bị của
        bạn. Tất cả các truy cập này chỉ được chúng tôi thực hiện khi có sự đồng
        ý của bạn. Bạn hiểu và chấp nhận rằng, khi bạn đã cấp quyền cho chúng
        tôi, bạn sẽ không có bất kỳ khiếu nại nào đối với việc truy cập này; Ứng
        dụng BeautyBooking được cài đặt trên thiết bị của bạn có chế độ hoạt
        động ngay cả khi thiết bị của bạn ở trong tình trạng mất kết nối
        Internet; BeautyBooking không đảm bảo dữ liệu bạn đang xem trên Ứng dụng
        là dữ liệu mới nhất của hệ thống do đó bạn hiểu và đảm bảo rằng thiết bị
        ở trong tình trạng kết nối mạng khi bạn cần truy cập dữ liệu kinh doanh
        mới nhất; Bạn hiểu và chấp nhận rằng bạn phải có trách nhiệm bảo quản
        thiết bị và / hoặc các thiết bị có cài đặt Ứng dụng BeautyBooking trong
        tầm kiểm soát và an toàn; BeautyBooking không chịu trách nhiệm khi dữ
        liệu kinh doanh của bạn bị đánh cắp hoặc lợi dụng do sự bất cẩn của bạn;
        Bạn phải tuân thủ các điều khoản của Apple App Store và Google Play của
        về dịch vụ, bao gồm cả các quy tắc sử dụng.
      </p>
    </div>

    <div class="regulartion">
      <h4>15. DỊCH VỤ BÊN THỨ BA</h4>
      <p>
        Bạn hiểu và chấp nhận rằng việc bạn sử dụng dịch vụ gia tăng của Bên thứ
        ba nằm ngoài những thỏa thuận giữa Bạn và BeautyBooking được qui định
        trong Hợp đồng dịch vụ; và Bạn sẽ tự chịu mọi trách nhiệm liên quan đến
        việc sử dụng dịch vụ gia tăng do các Bên thứ ba cung cấp.
      </p>
    </div>
  </div>
</Container>

<style>
  .regulartion {
    @apply text-title;
  }

  .regulartion h4 {
    @apply text-primary-700 font-bold mb-3;
  }

  .regulartion a {
    @apply text-primary-600;
  }
</style>
