---
import BBLogoTextIcon from '@assets/svgs/bbLogoText.svg?raw';
---

<header class='flex justify-between py-5 px-20'>
  <Fragment set:html={BBLogoTextIcon} />

  <div class='flex text-sub-header text-opacity-semi gap-5'>
    <a href='#'>Trở thành đối tác của BeautyBooking</a>
    <a href='#'>Về chúng tôi</a>
  </div>
</header>
