---
import BBLogoTextIcon from "@assets/svgs/bbLogoText.svg?raw";
import MenuIcon from "@assets/svgs/menu.svg?raw";
---

<header
  class="flex items-center justify-between py-5 px-20 max-w-[89.9375rem] mx-auto"
>
  <Fragment set:html={BBLogoTextIcon} />

  <div class="hidden text-sub-header text-opacity-semi gap-5 md:flex">
    <a href="#">Trở thành đối tác của BeautyBooking</a>
    <a href="#">Về chúng tôi</a>
  </div>

  <div
    class="flex justify-center items-center cursor-pointer w-11 h-11 rounded-lg shadow-xs md:hidden"
  >
    <Fragment set:html={MenuIcon} />
  </div>
</header>
