---
import BubbleChat from "@components/BubbleChat.astro";

import BackToTopIcon from "@assets/svgs/backToTop.svg?raw";

import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BeautyBooking</title>

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8F9FNE1367"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8F9FNE1367");
    </script>
  </head>
  <body>
    <Header />
    <slot />
    <!-- Bubble Chat -->
    <BubbleChat />
    <!-- Back To Top -->
    <div id="back-to-top">
      <Fragment set:html={BackToTopIcon} />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

  * {
    font-family: "Inter", sans-serif;
    @apply font-medium text-dark;
  }

  body {
    @apply bg-grey-100;
  }

  body *::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  body #tsparticles {
    @apply absolute -z-[1] top-0 right-0 bottom-0 left-0;
  }

  body #back-to-top {
    @apply fixed right-7 -bottom-full z-50 cursor-pointer xl:right-20;
    @apply invisible opacity-disable transition-all duration-700 ease-in-out;
    @apply bg-black hover:bg-opacity-20 p-5 rounded-full;
  }

  body #back-to-top.active {
    @apply opacity visible bg-opacity-10 bottom-6;
  }
</style>

<script>
  const backToTop = document.querySelector("#back-to-top");

  document.addEventListener("scroll", () => {
    // show the back to top button when the user scrolls past 60% of the page
    if (window.scrollY > document.body.scrollHeight * 0.6) {
      backToTop.classList.add("active");
    } else {
      backToTop.classList.remove("active");
    }
  });

  backToTop.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
