---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>BeautyBooking</title>
  </head>
  <body>
    <Header />
    <div class="max-w-[89.9375rem] mx-auto">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  * {
    font-family: Inter, sans-serif;
    @apply font-medium text-dark;
  }
</style>
